a:hover, a:active, a:focus{
   outline: 0;
}

.ui-tabs{
	width:100%;
	float:left;
	margin-top:50px;
	border:1px #e1e1e1 solid;
	display:block;
	position:relative;
	background: #fff;
}
	.ui-tabs-nav{
		width:100%;
		position:absolute;
		top:0px;
		left:0px;
		list-style-type:none;
		margin:0px;
		z-index:100;
		padding-bottom:50px;
	}
	.ui-tabs-nav li{
		border:1px solid #e1e1e1;
        border-top: none;
		margin:0;
		padding:0;
		font-size:1.2em;
		margin-bottom:2px;
        float: left;
		width:16.4%;
	}
		.ui-tabs-nav li a,
		.ui-tabs-nav li a:HOVER{
			color:#fff;
			text-decoration:none;
			display:block;
			padding:11px 30px 5px 11px;
			background:#cc181e;
			margin-right:-2px!important;
			border-right:2px #cc181e solid;		
		}		
		.ui-tabs-nav .ui-tabs-active a{
			color:#333!important;	
			border-right:2px #cc181e solid!important;			
			background:none!important;			
		}
		
		
	.ui-tabs .ui-tabs-panel{
		padding-left:20px;
		padding-top:35px;
		z-index:1;
	}
	
h4{
	width:100%;
	border-bottom:1px #CCC solid;
	margin:0px;
	padding:0px 0px 10px 0px;
	font-style:italic;	
}
.cthemeli{display:inline-block;}	
	