div.tab{
	padding:12px 35px; 
	background:#fff; 
	border:1px solid #e1e1e1; 
	display:block; 
	cursor:pointer;
	margin: 0 0 10px 0;
}
div.tab.active{
	background:#dc2b2d; 
	cursor:auto;
	color: #fff;
	position: relative;
}
div.tab.active:before{
	content: "";
	width: 1px;
	height: 1px;
	border-left: 5px solid transparent;
	border-right: 5px solid transparent;
	border-top: 10px solid #dc2b2d;
	position: absolute;
	bottom: -10px;
	left: 32px;
}
div.tab.active:after{
	content: "";
	width: 1px;
	height: 1px;
	border-left: 5px solid transparent;
	border-right: 5px solid transparent;
	border-top: 10px solid #dc2b2d;
	position: absolute;
	bottom: -10px;
	right: 32px;
}
div.content
{
	padding:15px;
	border:1px solid #000;
	display:none;
	background: #fff;	
	margin: 0 0 10px 0;
}
a:hover, a:active, a:focus{
   outline: 0;
}
h4{
	width:100%;
	border-bottom:1px #CCC solid;
	margin:0px;
	padding:0px 0px 10px 0px;
	font-style:italic;	
}